<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <PatternLayout pattern=""/>
        </Console>
        <RollingFile name="backend_logs"
                     filename="logs/backend_logs.log"
                     filePattern="backend_logs-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="{%-5level} %d{dd.MM.yyyy hh:mm:ss.SSS} [%t] %logger %msg%n%throwable"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1000 kB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="backend_error_logs"
                     filename="logs/backend_error_logs.log"
                     filePattern="backend_error_logs-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="{%-5level} %d{dd.MM.yyyy hh:mm:ss} [%t] %logger %msg%n%throwable"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1000 kB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="database_client" level="info" additivity="true">
            <AppenderRef ref="backend_error_logs" level="error"/>
            <AppenderRef ref="backend_logs" level="info"/>
        </Logger>
        <Root level="fatal" additivity="false">
            <AppenderRef ref="console-log"/>
        </Root>
    </Loggers>
</Configuration>